/Client/data/cache/default.cache

/Server/maps/*.fomapb
/Server/scripts/*.fosb
/Server/scripts/*.fosp
/Server/save/**
/Server/dumps/*
/Server/profiler/*

/Tools/DialogEditor/DialogEditor.log
/Tools/Mapper/**