/Client/data/cache/default.cache

/Server/maps/*.fomapb
/Server/scripts/*.fosb
/Server/scripts/*.fosp
/Server/save/**
/Server/dumps/*
/Server/profiler/*

/Tools/DialogEditor/DialogEditor.log
/Tools/Mapper/**
/Tools/ObjectEditor/ObjectEditor.log
/Tools/ObjectEditor/ObjectEditor.user.cfg
/Tools/ObjectEditor/Template.lang
/Tools/ObjectEditor/listview.bin